<div class="container">
    <div>

        <h2>Popular Recipes:</h2>

    </div>
    <div class="row">

        <repeat group="{{ @recipes }}" value="{{ @recipe }}">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{@recipe['image']}}" alt="testing123">
                    <div class="card-body">
                        <h5 class="card-title">{{@recipe['name']}}</h5>
                        <p class="card-text">{{@recipe['descript']}}</p>
                        <a href="{{@BASE}}/recipe/{{@recipe['recipeid']}}" class="btn btn-primary">Check it out!</a>
                    </div>
                </div>
            </div>

        </repeat>

    </div>


</div>
