<div class="container">
    <div class="row mt-2">
        <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 p-3 bg-light rounded">
            <div class="mx-auto w-sm-75 w-lg-100 p-4 bg-white rounded">
                <form>
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" class="form-control"
                               id="oldPassword" aria-describedby="oldPassword">
                    </div>
                    <div class="form-group">
                        <label for="newPasswordFirst">New Password</label>
                        <input type="password" class="form-control"
                               id="newPasswordFirst" name="newPasswordFirst">
                        <input type="password" class="form-control"
                               id="newPasswordSecond" name="newPasswordSecond" placeholder="Repeat password">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>
    </div>

</div>