<div class="container">
    <form method="post" action="new-recipe">

        <!-- form complex example -->
        <div class="form-row mt-4">
            <div class="col-sm-5 pb-3">
                <label for="recipeName">Recipe name</label>
                <input type="text" class="form-control" id="recipeName" placeholder="Name of Recipe" name="recipeName">
            </div>
            <div class="col-sm-3 pb-3">
                <label for="prepTime">Prep Time</label>
                <input type="text" class="form-control" id="prepTime" name="prepTime">
            </div>
            <div class="col-sm-4 pb-3">


                <label for="cookTime">Cook Time</label>
                <input type="text" class="form-control" id="cookTime" name="cookTime">

            </div>
            <div class="col-sm-6 pb-3">
                <label for="servings">Servings</label>
                <input type="text" class="form-control" id="servings" name="servs">
            </div>
            <div class="col-sm-6 pb-3">
                <label for="calories">Calories</label>
                <input type="text" class="form-control" id="calories" name="cals">
            </div>

            <div class="col-md-12 pb-3">
                <label for="notes">Description</label>
                <textarea class="form-control" id="notes" name="notes"></textarea>
                <small class="text-info">
                    Add a small description about your recipe!
                </small>
            </div>

            <div class="col-md-6 pb-3">
                <span>Ingredients <button type="button" class="btn btn-sm btn-light" id="btn-add-ingredient">Add <img class="icon-add" src="{{ @BASE }}/assets/images/icons/plus.svg" alt=""></button></span>
                <div id="ingredient-list">
                    <div class="input-group mb-3 ingredient-item">
                        <input type="text" class="form-control" placeholder="Add Ingredients Here" class="input-ingredient">
                        <button class="btn btn-danger btn-ingredient-delete" type="button"><img class="icon-delete" src="{{ @BASE }}/assets/images/icons/close.svg" alt="Remove"></button>
                    </div>
                </div>

            </div>

            <div class="col-md-6 pb-3">
                <span>Direction <button type="button" class="btn btn-sm btn-light" id="btn-add-direct">Add <img class="icon-add" src="{{ @BASE }}/assets/images/icons/plus.svg" alt=""></button></span>
                <div id="direction-list">
                    <div class="input-group mb-3 direct-item">
                        <input type="text" class="form-control" placeholder="Add Directions Here" class="input-directions">
                        <button class="btn btn-danger btn-direct-delete" type="button"><img class="icon-delete" src="{{ @BASE }}/assets/images/icons/close.svg" alt="Remove"></button>
                    </div>
                </div>

            </div>

        </div>



        <input class="btn btn-primary" type="submit" value="Submit">



    </form>
</div>