<div class="container">
    <form method="post" action="submit-recipie.html">

        <!-- form complex example -->
        <div class="form-row mt-4">
            <div class="col-sm-5 pb-3">
                <label for="recipeName">Recipe name</label>
                <input type="text" class="form-control" id="recipeName" placeholder="Name of Recipe">
            </div>
            <div class="col-sm-3 pb-3">
                <label for="exampleCtrl">Prep Time</label>
                <input type="text" class="form-control" id="exampleCtrl">
            </div>
            <div class="col-sm-4 pb-3">


                <label for="exampleCtrl">Cook Time</label>
                <input type="text" class="form-control" id="exampleCtrl">

            </div>
            <div class="col-sm-6 pb-3">
                <label for="exampleFirst">Servings</label>
                <input type="text" class="form-control" id="exampleFirst">
            </div>
            <div class="col-sm-6 pb-3">
                <label for="exampleLast">Calories</label>
                <input type="text" class="form-control" id="exampleLast">
            </div>
            <div class="col-sm-6 pb-3">
                <label for="exampleCity">Ingredients</label>
                <input type="text" class="form-control" id="exampleCity">
            </div>

            <div class="col-sm-6 pb-3">
                <label for="exampleZip">Directions</label>
                <input type="text" class="form-control" id="exampleZip">
            </div>

            <div class="col-md-12 pb-3">
                <label for="exampleMessage">Notes</label>
                <textarea class="form-control" id="exampleMessage"></textarea>
                <small class="text-info">
                    Add any comments you have here.
                </small>
            </div>
        </div>







    </form>
</div>