/* Limits the image size to fit the bootstrap
    card */
.img-size-limit{

    height: 14rem;
    object-fit: cover;

}

/* flips logo and sets size for home page */
.logo1{

    width:75px;
    height:90px;
    transform: scaleX(-1);

}

/* sets size for logo on home page */
.logo2 {

    width: 75px;
    height: 90px;

}